# Keil / ARM MDK
*.o
*.d
*.crf
*.lst
*.bak
*.dep
*.uvguix.*
*.uvoptx
Objects/
Listings/

# STM32CubeIDE / Eclipse
Debug/
Release/
.metadata/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# CMake
build/
bin/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
compile_commands.json
*.cmake